<div class="card">
  <div class="card-header">
    <h2 class="card-title">Flight Edit</h2>
  </div>

  <mat-dialog-content>
    <div class="card-body">
      <form [formGroup]="editForm">
        <div class="form-group">
          <label>ID:</label>
          <input
            class="form-control"
            formControlName="id"
          />
        </div>
        <div class="form-group">
          <label>From:</label>
          <input class="form-control" formControlName="from" />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="editForm.controls.from.hasError('required')">
          Please enter a value for form field from - this is mandatory.
        </div>
        <div
          class="alert alert-danger"
          *ngIf="editForm.controls.from.hasError('city')">
          Please enter a valid city name:<br>
          {{ editForm.controls.from.errors?.['city'].validCities.join(', ') }}
        </div>
        <div
          class="alert alert-danger"
          *ngIf="editForm.controls.from.errors">
          <pre>{{
            editForm.controls.from.errors | json
          }}</pre>
        </div>

        <div class="form-group">
          <label>To:</label>
          <input class="form-control" formControlName="to" />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="editForm.controls.to.hasError('city')">
          Please enter a valid city name:<br>
          {{ editForm.controls.to.errors?.['city'].validCities.join(', ') }}
        </div>

        <div class="form-group">
          <label>Date:</label>
          <input formControlName="date" class="form-control" />
        </div>

        <div class="form-group">
          <button
            (click)="save()"
            class="btn btn-default"
            [disabled]="!editForm.valid"
          >Save</button>
        </div>
      </form>

    </div>
  </mat-dialog-content>

</div>
